* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.step-one {
    background: #E5F4EC;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.next-button {
    background: #3b5249;
    font-size: 1.3vw;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 10%
}